#git ignore
# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node/node_modules
node/package-lock.json
node/*.log
node/*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

#folders 
upload

#config
/node/src/config.js

