
section.container{
    margin-top: 80px;
}
.nav-active{
    color: white !important;   
}
 
.card{
    transition: 0.4s ease;
}

.card:hover{
    transition: 0.4s ease;
    cursor: pointer;
}

.card-footer p{
    font-size: 0.85em;
}