#profile-photo{
    display: block;
    border-radius: 150px;
    margin: 0 auto;
}

.details-profile{
    margin-top: 8px;
    font-weight: 600;
}

#container-profile-photo{
    border-radius: 150px;
    margin: 0 auto;
}


#container-img-edit{
    margin-top:-30px; 
}

#container-img-edit img:hover{
    cursor: pointer;
}

#input-id_user{
    display: none;
}

#form-id_user{
    display: none;
}

#container-btn_upload{
    background: rgba(26,35,126, 0.9);
    border-radius: 5px;
}

.card{
    transition: 0.4s ease;
}

.card:hover{
    transition: 0.4s ease;
    cursor: pointer;
    transform:scale(1.001);
}

.card-footer p{
    font-size: 0.85em;
}


