.list-group-item:hover{
    cursor: pointer;
    transform: scale(1.002); 
    background: rgba(26,35,126,0.05);
    transition:  0.5s ease;
}

.list-group-item{
    transition:  0.5s ease;
}

#container-btn_follower{
    background: rgba(26,35,126, 0.9);
    border-radius: 5px;
}



.modalPhoto{
    position: absolute;
    display: flex;
    background-color: white;
    border-radius: .3rem;
    width: 80%;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left:10%;
    margin-right: 10%;
    overflow: hidden;
}