#profile-photo{
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}

.details-profile{
    margin-top: 8px;
    font-weight: 600;
}

#container-profile-photo{
    border-radius: 150px;
    margin: 0 auto;
}

.list-group-item:hover{
    cursor: pointer;
    transform: scale(1.002); 
    background: rgba(26,35,126,0.05);
    transition:  0.5s ease;
}

.list-group-item{
    transition:  0.5s ease;
}

#container-btn_follower{
    background: rgba(26,35,126, 0.9);
    border-radius: 5px;
}

.card{
    transition: 0.4s ease;
}

.card:hover{
    transition: 0.4s ease;
    cursor: pointer;
}
